
#head1{
    text-align: center;
    
    }
    
    #film1{
    
        /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
        font-size:x-large;
        font-weight: bold;
        
        background: -webkit-linear-gradient(#1ed6b2, #fdbb2d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
    
    
    #dizi1{
        font-size:x-large;
       /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
        font-weight: bold;
    
        background: -webkit-linear-gradient(#1ed6b2, #fdbb2d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
    
    #main1{
        background: rgb(139,103,41);
        background: radial-gradient(circle, rgba(139,103,41,1) 0%, rgba(207,171,135,1) 100%);
    }
    
    #Film{
        color: yellow
    
    }
    #filmtable{
        margin-top: 2000px;
        text-align: center;
       /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
        font-size: large;
        font-weight: bold;
        text-align: center;
    
    }
    #info1{
        background: -webkit-linear-gradient(#29c899, yellow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
       /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
        font-size: large;
        text-align: center;
    }
    #tur1{
      /*  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
        font-size: large;
        font-weight: inherit;
        text-align: center;
    }
    
    #gerilim{
        color:red;
    }
    #ask{
        color: darkblue;
    }
    
    #korku{
        color:yellow;
    }
    
    #mitoloji{
        color: violet;
    }
    #bilmkrg{
    color:darkgreen
    }
    #aksyon{
        color: white;
    }
    #gizem1{
        color:sienna;
    }
    
    .curved {
        position: relative;
        background: #2c3e50;
        height: 50vh;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
      }

  