.center{
    
    
    position: absolute;
    left: 52%;
    top: 50%;
    margin: -75px 0 0 -75px;
   
   /* background: #424242;*/
    background-size: 100%;
    overflow: hidden;
    text-decoration: none;
}



body {
    background-image: url('waltdisney.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
